.lesson-progressbar-wrapper * {
    padding: 0;
    margin: 0;
}

.ohmylms-page {

    .ohmylms-lesson-progressbar {
        background: rgba(var(--ohmylms-primary-color-rgb), 0.06);
        padding: 20px 0;
        margin: 0;
        

        .lesson-progressbar-wrapper {
            display: flex;
            flex-flow: row wrap;
            gap: 14px;
            margin: 0;
            padding: 0;
        }

        .lesson-single-progressbar {
            border-radius: 8px;
            background: #FFF;
            box-shadow: 0 2px 2px 0 rgba(199, 206, 220, 0.41);
            padding: 13px 20px;

            .progressbar-title {
                margin-bottom: 8px;
            }
        }

        .quiz-progress,
        .assignment-progress {
            width: 224px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            .progressbar-title {
                margin-bottom: 0;
                flex-flow: column-reverse;
                gap: 8px;
                width: calc(100% - 56px);
                font-size: 13px;
                font-weight: 400;

                span:first-child {
                    width: 100%;
                }
            }
        }

        .overall-progress {
            width: calc(100% - 476px);
            padding: 20px 24px;
        }
    }

}

@media screen and (max-width: 991px) {

    .ohmylms-page .ohmylms-lesson-progressbar .lesson-single-progressbar {
        border-radius: 10px;
        padding: 13px 16px;
    }

    .ohmylms-page .ohmylms-lesson-progressbar .overall-progress {
        width: calc(100% - 396px);
        padding: 22px 16px;
    }

    .ohmylms-page .ohmylms-lesson-progressbar .quiz-progress, 
    .ohmylms-page .ohmylms-lesson-progressbar .assignment-progress {
        width: 184px;
        gap: 10px;
    }
}

@media screen and (max-width: 767px) {

    .ohmylms-page .ohmylms-lesson-progressbar .lesson-single-progressbar {
        border-radius: 10px;
        padding: 13px 16px;
    }

    .ohmylms-page .ohmylms-lesson-progressbar .overall-progress {
        width: 100%;
    }

    .ohmylms-page .ohmylms-lesson-progressbar .quiz-progress, 
    .ohmylms-page .ohmylms-lesson-progressbar .assignment-progress {
        width: calc(100% / 2 - 7px);
        gap: 10px;
    }
}

@media screen and (max-width: 425px) {

    .ohmylms-page .ohmylms-lesson-progressbar .lesson-single-progressbar {
        border-radius: 10px;
        padding: 11px 12px;
    }

    .ohmylms-page .ohmylms-lesson-progressbar .quiz-progress, 
    .ohmylms-page .ohmylms-lesson-progressbar .assignment-progress {
        width: calc(50% - 7px);
        gap: 6px;
    }

    .ohmylms-page .ohmylms-lesson-progressbar .quiz-progress .progressbar-title, 
    .ohmylms-page .ohmylms-lesson-progressbar .assignment-progress .progressbar-title {
        width: calc(100% - 46px);
    }

    .ohmylms-page .ohmylms-lesson-progressbar .ohmylms-circle-progressbar .circle-progress-svg {
        width: 40px;
        height: auto;
    }

}