.creator-lms-page {
    .creator-lms-lesson-details {
        .creator-lms-lesson-content {
            h1 {
                color: var(--creator-lms-heading-color);
                font-size: 32px;
                font-weight: 700;
                line-height: 1.3;
                margin: 0 0 12px;
            }

            .creator-lms-resources-list {
                padding: 24px 0;
                margin: 24px 0 0;
                border-top: 1px solid #E8E8E8;

                li {
                    margin: 0;
                }
            }

        }

    }

    .creator-lms-video-player {
        position: relative;
        border-radius: 14px;
        margin-bottom: 26px;

        video {
            margin: 0!important;
            border-radius: 14px;
            width: 100% !important;
            height: auto !important;
            max-width: 100% !important;
            display: block;
        }

        .creator-lms-video-player-cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #41414112;
                border-radius: 14px;
            }

            img {
                border-radius: 8px;
                width: 100% !important;
                height: 100% !important;
                display: block;
                object-fit: cover;
                margin: 0!important
            }

            .creator-lms-video-player-play {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #ffffff;
                padding: 10px;
                border: none;
                cursor: pointer;
                box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 23%);
                width: 70px;
                height: 70px;
                border-radius: 100%;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;

                svg {
                    display: block;
                    width: 20px;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 1399px) {
    .creator-lms-page .creator-lms-video-player .creator-lms-video-player-cover:before {
        border-radius: 8px;
    }

    .creator-lms-page .creator-lms-video-player {
        border-radius: 8px;

        img {
            border-radius: 8px;
        }
        
        video {
            border-radius: 8px;
        }
    }

    .creator-lms-page .creator-lms-video-player .creator-lms-video-player-cover img {
        border-radius: 8px;
    }

}

@media screen and (max-width: 1199px) {
    .creator-lms-page .creator-lms-lesson-details .creator-lms-lesson-content h1 {
        font-size: 26px;
        line-height: 1.2;
    }

}

@media screen and (max-width: 767px) {
    .creator-lms-page .creator-lms-video-player .creator-lms-video-player-cover .creator-lms-video-player-play {
        width: 50px;
        height: 50px;
    }
    .creator-lms-page .creator-lms-video-player .creator-lms-video-player-cover .creator-lms-video-player-play svg {
        width: 14px;
    }
}

@media screen and (max-width: 575px) {
    .creator-lms-page .creator-lms-lesson-details .creator-lms-lesson-content h1 {
        font-size: 24px;
    }
}
