.ohmylms-page {
    .ohmylms-lesson-details {
        .ohmylms-lesson-navigation {
            border-top: 1px solid #ECEDF2;
            padding-top: 24px;
            position: relative;
            bottom: 0;
            background: #f9fafd;
            z-index: 2;

            .default-navigation {
                display: flex;
                align-items: center;
                flex-flow: row wrap;
                justify-content: flex-end;
                gap: 12px;
            }

            .ohmylms-checkbox {
                border-radius: 10px;
                background-color: #35BD4C;
                padding: 12px 20px;

                &:focus {
                    outline: 2px solid rgba(var(--ohmylms-primary-color-rgb), 0.3490196078);
                }
            }

            .ohmylms-checkbox-text {
                color: #FFF;
                font-size: 14px;
                line-height: 1;
                font-weight: 500;

                .checkedbox {
                    width: 18px;
                    height: 18px;
                    top: -2px;
                    border-color: #fff;
                    background: transparent;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;

                    svg {
                        opacity: 0;
                        visibility: hidden;
                        display: block;
                        line-height: 1;
                    }

                    &:before {
                        height: 14px;
                        visibility: hidden;
                        transition: all 0.3s ease;
                        opacity: 0;
                    }

                }
            }

            .ohmylms-checkbox input[type=checkbox]:checked + .ohmylms-checkbox-text .checkedbox {
                background: transparent;
                border-color: #fff;
            }
            .ohmylms-checkbox input[type=checkbox]:checked + .ohmylms-checkbox-text .checkedbox svg {
                opacity: 1;
                visibility: visible;
            }

            .next-lesson {
                color: #fff;
                font-size: 14px;
                padding: 10px 20px;
                height: 38px;
                border-radius: 10px;

                &:hover {
                    color: var(--ohmylms-primary-color);
                }
            }
            
            //-----navigation for assignment and quiz-----
            .assignment-quiz-navigation {
                display: flex;
                align-items: center;
                flex-flow: row wrap;
                justify-content: space-between;
                gap: 12px;

                .skip {
                    color: #696971;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 1.2;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                        color: var(--ohmylms-primary-color);
                    }
                }

                form {
                    margin-left: auto;
                }

                .ohmylms-button {
                    color: #fff;
                    font-size: 14px;
                    padding: 10px 20px 9px;
                    background-color: var(--ohmylms-primary-color);
                    height: 38px;
                    border-radius: 10px;

                    
                    &:hover {
                        color: var(--ohmylms-primary-color);
                        background-color: transparent;
                    }

                    &:disabled {
                        cursor: not-allowed;
                        border-color: #FFF;
                        background-color: #FFF;
                        color: rgba(0, 13, 37, 0.16);
                        box-shadow: 0px 1px 2px 0px #DBDDE1;
                        opacity: 1;
                    }

                    // &.quiz-taken {
                    //     border-color: #FFF;
                    //     background-color: #FFF;
                    //     color: var(--ohmylms-heading-color);
                    //     box-shadow: 0px 1px 2px 0px #DBDDE1;
                    // }
                }

            }

            .assignment-navigation {
                justify-content: flex-end;

                a.skip {
                    margin-right: auto;
                }
            }

            .ohmylms-quiz-notice {
                color: #A1A1AA;
                font-size: 13px;
                font-weight: 400;
                line-height: 15px;
                margin: 16px 0 0;
                text-align: right;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 5px;
            }

        }

    }
}

@media screen and (max-width: 1199px) {
    .ohmylms-page .ohmylms-lesson-details .ohmylms-lesson-navigation .ohmylms-checkbox {
        border-radius: 8px;
    }

    .ohmylms-page .ohmylms-lesson-details .ohmylms-lesson-navigation .assignment-quiz-navigation .ohmylms-button {
        border-radius: 8px;
    }

}

@media screen and (max-width: 767px) {
    .ohmylms-page .ohmylms-lesson-details .ohmylms-lesson-navigation .quiz-navigation {
        justify-content: flex-end;
    }
    .ohmylms-page .ohmylms-lesson-details .ohmylms-lesson-navigation .quiz-navigation form {
        margin-left: 0;
    }

}

@media screen and (max-width: 425px) {
    .ohmylms-page .ohmylms-lesson-details .ohmylms-lesson-navigation .default-navigation {
        gap: 9px;
    }

    .ohmylms-page .ohmylms-lesson-details .ohmylms-lesson-navigation .ohmylms-checkbox {
        padding: 12px 16px;
    }
    .ohmylms-page .ohmylms-lesson-details .ohmylms-lesson-navigation .next-lesson {
        padding: 10px 16px;
    }

    .ohmylms-page .ohmylms-lesson-details .ohmylms-lesson-navigation .ohmylms-checkbox-text {
        font-size: 13px;
    }
    .ohmylms-page .ohmylms-lesson-details .ohmylms-lesson-navigation .next-lesson {
        font-size: 13px;
    }

}