.creator-lms-page {
    .creator-lms-checkout-customer-details {
        margin-bottom: 30px;
        
        .creator-lms-billing-field-wrapper {
            display: flex;
            flex-flow: row wrap;
            gap: 10px;
        }

        .creator-lms-form-row {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        #last_name_field,
        #first_name_field,
        #country_field,
        #state_field,
        #city_field,
        #postcode_field {
            width: calc(50% - 5px);
        }

    }
}

@media screen and (max-width: 991px) {
    .creator-lms-page .creator-lms-checkout-customer-details {
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 575px) {
    .creator-lms-page .creator-lms-checkout-customer-details #country_field,
    .creator-lms-page .creator-lms-checkout-customer-details #state_field,
    .creator-lms-page .creator-lms-checkout-customer-details #city_field,
    .creator-lms-page .creator-lms-checkout-customer-details #postcode_field,
    .creator-lms-page .creator-lms-checkout-customer-details #last_name_field, 
    .creator-lms-page .creator-lms-checkout-customer-details #first_name_field {
        width: 100%;
    }
    
}