.creator-lms-page {
    .creator-lms-checkout-order-review-table {
        border: none;
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
    }

    .creator-lms-order-review-table-wrapper {
        table {
            thead {
                display: none;
            }

            th,
            td {
                border: none;
                border-bottom: 1px solid #EBEBEF;
                color: var(--creator-lms-heading-color);
                font-size: 14px;
                font-weight: 400;
                line-height: 1.2;
                padding: 14px 8px;
                background-color: transparent;
                vertical-align: middle;

                &:first-child {
                    padding-left: 0;
                    text-align: left;
                    width: 250px;
                }

                &:last-child {
                    padding-right: 0;
                    text-align: right;
                }
            }

            .amount {
                color: inherit;
                bdi {
                    word-wrap: break-word;
                }
            }

            tr {
                border-bottom: none;

                &:first-child {
                    td {
                       padding-top: 0;
                    }
                }

                &:last-child {
                    td {
                        border-bottom: none;
                    }
                }
            }

            td.creator-lms-course-total {
                color: var(--creator-lms-heading-color);
                font-size: 18px;
                font-weight: 600;
                line-height: 1.2;
            }

            .creator-lms-course-info-wrapper {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                gap: 12px;

                .creator-lms-course-thumbnail img {
                    width: 80px;
                    height: 60px;
                    object-fit: cover;
                    border-radius: 8px;
                    display: block;
                }

                .creator-lms-course-title {
                    color: var(--creator-lms-heading-color);
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 1.5;
                    width: calc(100% - 100px);
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }

            .creator-lms-course-remove {
                cursor: pointer;
                display: inline-block;
                line-height: 1;
                padding: 2px;
                margin: 0;

                path {
                    transition: all 0.3s ease;
                }

                &:hover {
                    path {
                        stroke: #DD2001;
                    }
                }
            }

            tfoot {
                tr {
                    th, td {
                        border-bottom: 0;
                    }

                    td:last-child {
                       font-weight: 500;
                    }
                }

                tr:last-child {
                    th, td {
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                }

                tr.coupon-tr {
                    th {
                        vertical-align: top;
                    }

                    td {
                        vertical-align: top;
                        padding-top: 0;
                        padding-bottom: 9px;
                        border-bottom: 0;
                    }
                }

                tr.cart-subtotal {
                    th, td {
                        padding-top: 16px;
                    }
                }

                tr.cart-tax {
                    .cart-tax-span{
                        color: rgb(75, 85, 99);
                        background-color: rgb(229, 231, 235);
                        margin-left: 5px;
                        border-radius: 50px;
                        padding: 2px 6px;
                        font-size: 13px;
                    }
                }

                tr.cart-discount {
                    th, td {
                        border-top: 1px solid rgba(200, 210, 233, 0.3490196078);
                    }

                    td:last-child {
                        color: #DD2001;
                    }

                    .coupon-th {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 8px;
                        row-gap: 5px;
                    }

                    .applied-coupon {
                        border-radius: 4px;
                        background-color: #ffffff;
                        line-height: 1;
                        display: inline-block;
                        color: var(--creator-lms-heading-color);
                        font-size: 12px;
                        font-weight: 400;
                        position: relative;
                        padding: 6px 13px 6px 7px;
                    }

                    .creator-lms-remove-coupon {
                        position: absolute;
                        top: -5px;
                        right: -5px;

                        svg {
                            display: block;
                        }
                    }
                }

                tr.order-total {
                    th, td {
                        font-size: 18px;
                        font-weight: 600;
                        vertical-align: top;
                        border-top: 1px solid #c8d2e959;
                    }

                    .total-savings {
                        color: var(--creator-lms-heading-color);
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 1.3;
                        display: block;
                        text-transform: uppercase;
                        margin-top: 20px;
                    }
                }

                tr.membership-pricing {
                    td:last-child {
                        line-height: 1.3;
                    }
                }

            }

        }
    }

    .creator-lms-checkout-coupon {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 10px;
        transition: all 0.3s ease;

        .apply-coupon {
            border: none;
            width: calc(100% - 130px);
            border-radius: 8px;
            border: 1px solid #EBEBEF;
            margin: 0;
            box-shadow: none;
            color: var(--creator-lms-heading-color);
            font-size: 15px;
            font-weight: 400;
            line-height: 1;
            padding: 14px 14px;
            height: auto;
            background-color: #fff;
            outline: none;
            transition: all 0.3s ease;

            &::placeholder {
                color: #A3A5AA;
                opacity: 1;
            }

            &:-ms-input-placeholder {
                color: #A3A5AA;
            }

            &::-ms-input-placeholder {
                color: #A3A5AA;
            }

            &:focus {
                border-color: var(--creator-lms-primary-color);
            }
        }

        .apply-coupon-btn {
            width: 120px;
            background: #7A8B9A !important;
            color: #fff !important;
            font-size: 16px;
            font-weight: 700;
            line-height: 1.2;
            border-radius: 8px;
            padding: 14px 10px;
            box-shadow: none !important;
            border: none !important;
            transition: all 0.3s ease;
            cursor: pointer;
        }

        &.active {
            border-color: var(--creator-lms-primary-color);

            .apply-coupon-btn {
                background: var(--creator-lms-primary-color) !important;
            }
        }


    }
}

@media screen and (max-width: 1199px) {
    .creator-lms-page .creator-lms-order-review-table-wrapper table .creator-lms-course-info-wrapper .creator-lms-course-thumbnail img {
        width: 60px;
        height: 50px;
        border-radius: 4px;
    }
    .creator-lms-page .creator-lms-order-review-table-wrapper table .creator-lms-course-info-wrapper .creator-lms-course-title {
        width: calc(100% - 70px);
    }

    .creator-lms-page .creator-lms-order-review-table-wrapper table th,
    .creator-lms-page .creator-lms-order-review-table-wrapper table td {
        font-size: 14px;
    }

    .creator-lms-page .creator-lms-order-review-table-wrapper table .creator-lms-course-remove svg {
        width: 10px;
    }

    .creator-lms-page .creator-lms-order-review-table-wrapper table .creator-lms-course-info-wrapper {
        gap: 10px;
    }

}


@media screen and (max-width: 991px) {
    .creator-lms-page .creator-lms-checkout-form-wrapper .creator-lms-checkout-order-review {
        border-radius: 12px;
        background: #F4F5F7;
        padding: 14px;
    }
}

@media screen and (max-width: 767px) {
    .creator-lms-page .creator-lms-order-review-table-wrapper table .creator-lms-course-info-wrapper figure.creator-lms-course-thumbnail {
        display: none;
    }

    .creator-lms-page .creator-lms-order-review-table-wrapper table .creator-lms-course-info-wrapper .creator-lms-course-title {
        width: 100%;
    }

    .creator-lms-page .creator-lms-checkout-coupon .apply-coupon {
        width: calc(100% - 110px);
    }

    .creator-lms-page .creator-lms-checkout-coupon .apply-coupon-btn {
        width: 100px;
    }
}

@media screen and (max-width: 575px) {
    .creator-lms-page .creator-lms-order-review-table-wrapper table th:first-child, 
    .creator-lms-page .creator-lms-order-review-table-wrapper table td:first-child {
        width: 170px;
    }
}

@media screen and (max-width: 425px) {
    .creator-lms-page .creator-lms-order-review-table-wrapper table th:first-child, 
    .creator-lms-page .creator-lms-order-review-table-wrapper table td:first-child {
        width: 150px;
    }
}
