.theme-twentysixteen.ohmylms-page .ohmylms {
    max-width: 100%;
}
.theme-twentynineteen.ohmylms-page .entry .entry-content, 
.theme-twentynineteen.ohmylms-page .entry .entry-summary {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.theme-twentynineteen.ohmylms-page h1:not(.site-title):before, .theme-twentynineteen.ohmylms-page h2:before {
    display: none;
}

.theme-twentynineteen.ohmylms-page .ohmylms-checkout-payment .ohmylms-single-payment .ohmylms-radiobtn .ohmylms-radiobtn-text .radiobox:before {
    top: calc(50% - 2px);
}

.theme-twentynineteen.ohmylms-page .ohmylms-checkout-payment .ohmylms-tnc-wrapper .ohmylms-checkbox-text .checkedbox:before {
    height: 12px;
}

.theme-twentynineteen.ohmylms-page .widget.widget_search {
    display: none;
}

@media screen and (max-width: 1199px) {
    .theme-twentynineteen.ohmylms-page .ohmylms-checkout-payment .ohmylms-single-payment .ohmylms-radiobtn .ohmylms-radiobtn-text .radiobox:before {
        top: calc(50% - 1px);
   }
}