.theme-twentysixteen.ohmylms-page::before {
    display: none;
}
.theme-twentysixteen.ohmylms-page:not(.ohmylms-checkout) .site-content {
    padding: 0;
}

.theme-twentysixteen.ohmylms-page .ohmylms {
    max-width: 100%;
}

.theme-twentysixteen.ohmylms-page:not(.ohmylms-checkout) .site-content > .content-area {
    float: none;
    margin-right: 0;
    width: 100%;
}

.theme-twentysixteen.ohmylms-page:not(.ohmylms-checkout) .site-inner {
    max-width: 100%;
}

.theme-twentysixteen.ohmylms-page .ohmylms-single-course.show-sticky-price > .ohmylms-widget-pricebox {
    bottom: 21px;
}

.theme-twentysixteen.ohmylms-page article .entry-content {
    padding: 0;
    margin: 0;
}

.theme-twentysixteen.ohmylms-page article .entry-content a {
    box-shadow: none;
}

.theme-twentysixteen.ohmylms-page .ohmylms-checkout-payment .ohmylms-place-order-button {
    line-height: 1;
}

@media screen and (max-width: 709px) {
    .theme-twentysixteen.ohmylms-page .ohmylms-single-course.show-sticky-price > .ohmylms-widget-pricebox {
        bottom: 0;
   }
}