.theme-betheme.ohmylms-page ul {
    list-style: disc;
}
.theme-betheme.ohmylms-page #Content {
    padding-top: 0;
}
.theme-betheme.ohmylms-page #Content .section_wrapper, 
.theme-betheme.ohmylms-page #Content .container {
    max-width: 100%!important;
    padding: 0!important;
}
.theme-betheme.ohmylms-page #Content .the_content_wrapper {
    margin: 0;
    width: 100%;
}

.theme-betheme.ohmylms-page table tr:first-child td {
    box-shadow: none;
}
.theme-betheme.ohmylms-page table th {
    background: transparent;
    box-shadow: none;
}

.theme-betheme.ohmylms-page .ohmylms-checkout-coupon .apply-coupon {
    padding-top: 0;
    padding-bottom: 0;
}

.theme-betheme.ohmylms-page input[type="date"]:focus, 
.theme-betheme.ohmylms-page input[type="email"]:focus, 
.theme-betheme.ohmylms-page input[type="number"]:focus, 
.theme-betheme.ohmylms-page input[type="password"]:focus, 
.theme-betheme.ohmylms-page input[type="search"]:focus, 
.theme-betheme.ohmylms-page input[type="tel"]:focus, 
.theme-betheme.ohmylms-page input[type="text"]:focus, 
.theme-betheme.ohmylms-page input[type="url"]:focus, 
.theme-betheme.ohmylms-page select:focus, 
.theme-betheme.ohmylms-page textarea:focus {
    color: var(--ohmylms-body-text-color);
    background-color: transparent;
    border-color: #EBEBEF;
}

.theme-betheme.ohmylms-page .ohmylms-checkout-payment .ohmylms-single-payment {
    margin: 0;
}

.theme-betheme.ohmylms-page .ohmylms-wysiwyg-content blockquote {
    display: block;
    float: none;
    top: inherit;
}

.theme-betheme.ohmylms-page .ohmylms-course-details-tab .ohmylms-course-tab-nav .slick-arrow {
    top: -3px;
    overflow: visible;
}

.theme-betheme.ohmylms-page .ohmylms-course-reviews-form #respond .comment-form .form-submit {
    margin-top: 20px;
}

.theme-betheme.ohmylms-page .ohmylms-breadcrumb ul {
    list-style: none;
}

.theme-betheme.ohmylms-page .ohmylms-table .ohmylms-head .ohmylms-th:not(:first-child) {
    padding: 16px 8px;
}

.theme-betheme.ohmylms-page .ohmylms-student-profile .ohmylms-student-profile-tab li a {
    padding-right: 13px;
}