.theme-flatsome.ohmylms-page .content-area .container, 
.theme-flatsome.ohmylms-page .content-area .container-width, 
.theme-flatsome.ohmylms-page .content-area .full-width 
.theme-flatsome.ohmylms-page .content-area .ubermenu-nav, 
.theme-flatsome.ohmylms-page .content-area .row {
    max-width: 100%;
}

.theme-flatsome.ohmylms-page .content-area .col {
    padding-left: 0;
    padding-right: 0;
}

.theme-flatsome.ohmylms-page .ohmylms-no-cart-data .ohmylms-no-cart-data-wrapper .no-cart-title {
    margin: 0;
}

.theme-flatsome.ohmylms-page .ohmylms-checkout-form-wrapper .ohmylms-checkout-title {
    width: auto;
}

.theme-flatsome.ohmylms-page .uppercase, 
.theme-flatsome.ohmylms-page h6, 
.theme-flatsome.ohmylms-page span.widget-title, 
.theme-flatsome.ohmylms-page th {
    text-transform: none;
}

.theme-flatsome.ohmylms-page .processing:before {
    display: none;
}

@media (min-width: 850px) {
    .theme-flatsome.ohmylms-page .comment-form>div, 
    .theme-flatsome.ohmylms-page .comment-form>p {
        padding: 0;
    }
}