.theme-twentysixteen.ohmylms-page .ohmylms {
    max-width: 100%;
}

.theme-twentytwenty.ohmylms-page .search-toggle-wrapper {
    display: none;
}

.theme-twentytwenty.ohmylms-page .ohmylms {
    width: 100%!important;
}

.theme-twentytwenty.ohmylms-page .ohmylms-checkout-payment .ohmylms-single-payment .ohmylms-radiobtn .ohmylms-radiobtn-text .radiobox:before {
    top: calc(50% - 2px);
}

.theme-twentytwenty.ohmylms-page .ohmylms-checkout-payment .ohmylms-tnc-wrapper .ohmylms-checkbox-text .checkedbox:before {
    height: 12px;
}

@media screen and (max-width: 1199px) {
    .theme-twentytwenty.ohmylms-page .ohmylms-checkout-payment .ohmylms-single-payment .ohmylms-radiobtn .ohmylms-radiobtn-text .radiobox:before {
        top: calc(50% - 1px);
   }
}