.theme-bricks.ohmylms-page {
    display: block;
    height: 100%;
}

.theme-bricks.ohmylms-page section:where(:not(.bricks-shape-divider)) {
    display: block;
}

.theme-bricks.ohmylms-page section > div:where(:not(.bricks-shape-divider)) {
    display: block;
}

.theme-bricks.ohmylms-page #brx-content.wordpress {
    width: 100%;
    height: 100%;
}

.theme-bricks.ohmylms-page .ohmylms {
    height: 100%;
}

.theme-bricks.ohmylms-page .ohmylms-checkout-form-outer {
    height: 100%;
    background-color: #F9FAFD;
}

.theme-bricks.ohmylms-page .ohmylms-checkout-form-outer .ohmylms-container {
    height: 100%;
}

.theme-bricks.ohmylms-page .ohmylms-checkout-form-wrapper {
    height: 100%;
}


.theme-bricks.ohmylms-page .ohmylms-checkout-coupon .apply-coupon {
    text-align: left;
}

.theme-bricks.ohmylms-page .ohmylms-checkout-coupon .apply-coupon-btn {
    text-align: center;
}
.theme-bricks.ohmylms-page .ohmylms-order-review-table-wrapper table .ohmylms-course-info-wrapper .ohmylms-course-thumbnail {
    width: 80px;
}

/* -----membership page----- */
.theme-bricks.ohmylms-page .ohmylms-membership {
    height: 100%;
}

@media screen and (max-width: 991px) {
    .theme-bricks.ohmylms-page .ohmylms-checkout-form-outer {
        background: #fff;
    }
}