.theme-Divi.creator-lms-page .creator-lms-course-reviews-form #commentform .comment-form-comment textarea {
    padding: 14px 20px;
    background-color: #fff;
    font-size: 14px;
    border: 1px solid #EBECED;
}
