.ohmylms-assignment-single * {
    padding: 0;
    margin: 0;
}

.ohmylms-page {

    .ohmylms-assignment-single {
        padding: 60px 0 85px;
        background-color: #F9FAFD;

        .ohmylms-assignment-title {
            color: var(--ohmylms-heading-color);
            font-size: 32px;
            font-weight: 700;
            line-height: 1.3;
            margin-bottom: 25px;
        }

        .ohmylms-content-wrapper {
            gap: 40px;
            align-items: flex-start;
        }

        .ohmylms-content {
            width: calc(100% - 460px);
            border-radius: 16px;
            background-color: #FFF;
            box-shadow: 0 2px 8px 0 #ECECEC;
            padding: 34px 40px 40px;

            .ohmylms-resources-list {
                padding: 24px 0 0;
                margin: 20px 0 0;
                border-top: 1px solid #EBECED;

                li {
                    box-shadow: 0 1px 4px 0 #d3d6ddc7;
                    margin: 0;
                }
            }
        }

        .ohmylms-sidebar {
            position: sticky;
            top: 30px;
        }

        .ohmylms-sidebar-widget {

            &.with-gray-color {
                background-color: rgba(var(--ohmylms-primary-color-rgb), 0.059);
            }

            .ohmylms-score-comment-box {
                border-radius: 8px;
                background-color: #FFF;
                padding: 22px 24px 24px;
                margin-top: 20px;

                .score-comment-box-title {
                    color: var(--ohmylms-heading-color);
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 1;
                    margin: 0 0 12px;
                    padding: 0;
                    letter-spacing: 0;

                }

                .score-comment-details-text p,
                .score-comment-details-text {
                    color: var(--ohmylms-body-text-color);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.6;
                    margin: 0;
                    padding: 0;
                }

                .read-more-toggle {
                    display: none;
                    color: var(--ohmylms-primary-color);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1;
                    margin-top: 5px;

                    & > span {
                        cursor: pointer;
                        display: inline-flex;
                        align-items: center;
                        gap: 7px;
                    }

                    svg {
                        position: relative;
                        left: 3px;
                    }

                    .read-less {
                        display: none;
                    }
                }
            }

            &.submission-widget {
                padding: 0;
                background-color: transparent;
                box-shadow: none;

                .submission-widget-title {
                    color: var(--ohmylms-heading-color);
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 1.3;
                    margin: 0 0 9px;

                    time {
                        color: #8C929B;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 1;
                        margin-left: 3px;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 1199px) {

    .ohmylms-page .ohmylms-assignment-single {
        padding: 40px 0 65px;
    }

    .ohmylms-page .ohmylms-assignment-single .ohmylms-assignment-title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .ohmylms-page .ohmylms-assignment-single .ohmylms-content-wrapper {
        gap: 30px;
    }

    .ohmylms-page .ohmylms-assignment-single .ohmylms-content {
        width: calc(100% - 390px);
        border-radius: 8px;
        padding: 14px 20px 20px;
    }

    .ohmylms-page .ohmylms-assignment-single .ohmylms-sidebar-widget .ohmylms-score-comment-box {
        border-radius: 10px;
        padding: 18px 20px 17px;
    }

    .ohmylms-page .ohmylms-assignment-single .ohmylms-sidebar-widget .ohmylms-score-comment-box .score-comment-details-text p, 
    .ohmylms-page .ohmylms-assignment-single .ohmylms-sidebar-widget .ohmylms-score-comment-box .score-comment-details-text {
        font-size: 14px;
    }

}

@media screen and (max-width: 991px) {

    .ohmylms-page .ohmylms-assignment-single .ohmylms-assignment-title {
        font-size: 24px;
    }

    .ohmylms-page .ohmylms-assignment-single .ohmylms-content-wrapper {
        flex-direction: column-reverse;
    }

    .ohmylms-page .ohmylms-assignment-single .ohmylms-content {
        width: 100%;
    }

    .ohmylms-page .ohmylms-assignment-single .ohmylms-sidebar {
        position: relative;
        top: 0;
    }

}

@media screen and (max-width: 575px) {

    .ohmylms-page .ohmylms-assignment-single .ohmylms-sidebar-widget .ohmylms-score-comment-box .read-more-toggle {
        display: inline-block;
    }

    .ohmylms-assignment-single .ohmylms-sidebar-widget .ohmylms-score-comment-box .score-comment-details-text .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .ohmylms-assignment-single .ohmylms-sidebar-widget .ohmylms-score-comment-box .score-comment-details-text.active .line-clamp {
        -webkit-line-clamp: inherit;
    }

    .ohmylms-assignment-single .ohmylms-sidebar-widget .ohmylms-score-comment-box .score-comment-details-text.active svg {
        transform: rotate(180deg);
    }

}