.ohmylms-page {
    .ohmylms-password-protected {
        padding: 60px 0 0;

        .post-password-form {
            display: flex;
            flex-flow: column;
        }

        form > p:first-of-type {
            font-size: 20px;
            line-height: 1.4;
            font-weight: 500;
            color: var(--ohmylms-heading-color);
            max-width: 510px;
            margin-top: 0;
            margin-bottom: 10px;
            order: 1;
        }

        form > p:nth-of-type(2) {
            margin: 0;
            display: flex;
            gap: 10px;
            align-items: flex-end;
            order: 2;
            
            label {
                font-size: 16px;
                display: flex;
                flex-flow: column;
                gap: 6px;
                color: #444D5E;
            }

            input[name="post_password"] {
                height: 44px;
                border-radius: 8px;
                border: 1px solid rgba(200, 210, 233, 0.5);
                color: var(--ohmylms-body-text-color);
                font-size: 14px;
                background-color: #fff;
                transition: all 0.3s ease;
                padding: 7px 14px;
                width: 260px;
                outline: none;

                &:focus {
                    border-color: var(--ohmylms-primary-color);
                }
            }

            input[type="submit"] {
                color: #FFF !important;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.2;
                background-color: var(--ohmylms-primary-color);
                padding: 9px 20px;
                text-transform: none;
                letter-spacing: 0;
                border-radius: 8px;
                border: 1px solid var(--ohmylms-primary-color);
                width: 110px;
                box-shadow: none;
                outline: none;
                cursor: pointer;
                height: 44px;
            }

            .show-password-input {
                display: none;
            }
        }

        .post-password-form-invalid-password {
            order: 3;
            margin-top: 4px;

            p {
                margin: 0;
                font-size: 14px;
                color: #f75353;
                font-weight: 400;
            }
        }
        
    }
}