.single.ohmylms-page {
    .ohmylms-courses-single-layout3 {
        background-color: #fff;

        .ohmylms-content-wrapper {
            gap: 30px;
        }

        .ohmylms-content {
            width: calc(100% - 410px);
        }
        
        .ohmylms-sidebar {
            width: 380px;
        }
    }
}

@import './header';
@import './content-style';
@import './sidebar-widget';


@media screen and (max-width: 1199px) {
    .single.ohmylms-page .ohmylms-courses-single-layout3 .ohmylms-content {
        width: calc(100% - 380px);
    }
    .single.ohmylms-page .ohmylms-courses-single-layout3 .ohmylms-sidebar {
        width: 350px;
    }
    
}

@media screen and (max-width: 991px) {
    .single.ohmylms-page .ohmylms-courses-single-layout3 .ohmylms-content-wrapper {
        gap: 10px;
    }
    .single.ohmylms-page .ohmylms-courses-single-layout3 .ohmylms-content {
        width: 100%;
    }
    .single.ohmylms-page .ohmylms-courses-single-layout3 .ohmylms-sidebar {
        width: 100%;
    }
    
    
}
