.ohmylms-page {
    .ohmylms-single-course-layout-2 {
        .ohmylms-course-resource {
            margin-top: 40px;

            .ohmylms-table {
                box-shadow: none;
                border: 1px solid #EBECED;

                .ohmylms-head {
                    border: none;
                    border-bottom: 1px solid #EBECED;
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .ohmylms-page .ohmylms-single-course-layout-2 .ohmylms-course-resource {
        margin-top: 30px;
    }

    .ohmylms-page .ohmylms-single-course-layout-2 .ohmylms-table .ohmylms-tr .action {
        width: 70px;
    }
}