.ohmylms-page {

    .ohmylms-button[type="submit"],
    .ohmylms-button[type="button"],
    .ohmylms-button {
        color: #FFF;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.2;
        border-radius: 8px;
        background-color: var(--ohmylms-primary-color, #6e42d3);
        border: 1px solid transparent;
        transition: all 0.3s ease;
        display: inline-block;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none!important;
        cursor: pointer;
        box-shadow: none;
        text-transform: none;
        letter-spacing: 0;

        &:hover {
            background-color: transparent;
            border-color: var(--ohmylms-primary-color, #6e42d3);
            color: var(--ohmylms-primary-color, #6e42d3);
        }

        &:focus {
            outline: 2px solid rgba(var(--ohmylms-primary-color-rgb), 0.349);
        }

        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 1.1;
            padding: 9px 24px;
        }

        &.ohmylms-button-outline{
            background-color: transparent;
            border-color: var(--ohmylms-primary-color);
            color: var(--ohmylms-primary-color);

            &:hover {
                background-color: var(--ohmylms-primary-color);
                color: #FFF;
            }
        }

        &.loading {
            position: relative;
            color: transparent !important;
            pointer-events: none;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 14px;
                height: 14px;
                margin: -7px 0 0 -7px;
                border: 2px solid rgba(255, 255, 255, 0.5);
                border-top-color: #FFF;
                border-radius: 50%;
                animation: spin 0.7s linear infinite;
            }
        }

        &.ohmylms-button-disabled {
            background-color: var(--ohmylms-gray-300);
            border-color: var(--ohmylms-gray-300);
            color: var(--ohmylms-gray-600) !important;
            cursor: not-allowed;

            &:hover {
                background-color: var(--ohmylms-gray-300);
                border-color: var(--ohmylms-gray-300) !important;
                color: var(--ohmylms-gray-600);
            }

            &:focus {
                outline: 2px solid rgba(var(--ohmylms-gray-600-rgb), 0.349);
            }
        }
    }

    @media screen and (max-width: 1199px) {

        .ohmylms-button {
            border-radius: 8px;
            padding: 10px 18px;
        }

    }
}