.ohmylms-page {

    .ohmylms-loader {
        border: 2px solid var(--ohmylms-primary-color);
        border-radius: 50%;
        border-top: 2px solid #fff;
        width: 13px;
        height: 13px;
        animation: spin 0.7s linear infinite;
        display: none;
    }
}

@-webkit-keyframes spin {

    0% { -webkit-transform: rotate(0deg); }

    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {

    0% { transform: rotate(0deg); }

    100% { transform: rotate(360deg); }
}