.creator-lms-page {
    .creator-lms-radiobtn {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        cursor: pointer;

        input[type="radio"] {
            display: none;
        }

        .creator-lms-radiobtn-text {
            position: relative;
            color: var(--creator-lms-body-text-color);
            font-size: 13px;
            font-weight: 400;
            line-height: 1.53;
            display: block;
            padding-left: 27px;

            .radiobox {
                border-radius: 100px;
                border: 1px solid #CCC;
                width: 18px;
                height: 18px;
                display: block;
                position: absolute;
                top: 2px;
                left: 0;
                background: #fff;
                transition: all 0.3s ease;

                &:before {
                    content: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgNiA2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxjaXJjbGUgY3g9IjMiIGN5PSIzIiByPSIzIiBmaWxsPSIjZmZmIi8+PC9zdmc+");
                    display: block;
                    width: 6px;
                    height: auto;
                    line-height: 1;
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 50%;
                    transition: all 0.3s ease;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                }
            }
        }

        input[type="radio"]:checked + .creator-lms-radiobtn-text .radiobox {
            background: var(--creator-lms-primary-color);
            border-color: var(--creator-lms-primary-color);
        }

        input[type="radio"]:checked + .creator-lms-radiobtn-text .radiobox:before {
            opacity: 1;
        }

    }
}
