.creator-lms-page {
	.creator-lms-courses {
		//----search and sort style---
		.creator-lms-search-sort {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
			gap: 12px;
			margin-bottom: 24px;

			.search-sort-left {
				display: flex;
				flex-flow: row wrap;
				gap: 15px;
				align-items: center;
			}

			.filter-hamburger {
				border: none !important;
				background-color: transparent !important;
				cursor: pointer;
				padding: 0;
				color: var(--creator-lms-heading-color);
				font-size: 18px;
				font-weight: 500;
				line-height: 1;
				display: flex;
				align-items: center;
				gap: 6px;
				display: none;

				svg {
					display: block;
					position: relative;
					top: -1px;
					width: 22px;
    				height: auto;
				}
			}

			.course-showing {
				color: var(--creator-lms-body-text-color);
				font-size: 16px;
				font-weight: 400;
				line-height: 1;
				margin: 0;
				padding: 0;
			}

			.search-sort-right {
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				gap: 12px;
				justify-content: flex-end;
			}

			.course-searchbox {
				position: relative;

				.search-icon {
					position: absolute;
					top: 10px;
					left: 14px;
				}

				input[type="search"] {
					border-radius: 10px;
					background-color: #FFF;
					box-shadow: 0px 1px 2px 0px rgba(190, 190, 215, 0.20);
					border: none;
					height: 36px;
					padding: 10px 10px 10px 36px;
					width: 237px;
					color: #A1A1AA;
					font-size: 14px;
					font-weight: 400;
					line-height: 1;
					outline: none;
					display: block;

					&::-webkit-input-placeholder {
						color: #A1A1AA;
					}
					&::-moz-placeholder {
						color: #A1A1AA;
					}
					&:-ms-input-placeholder {
						color: #A1A1AA;
					}
					&:-moz-placeholder {
						color: #A1A1AA;
					}
					&::-webkit-search-cancel-button {
						display: none;
					}

					&:focus {
						outline: 2px solid var(--creator-lms-outline-color);
						outline-offset: 2px;
					}
				}

				input[type="search" i]::-webkit-search-cancel-button {
					cursor: pointer;
				}
			}

			.course-sortbox {
				select {
					border-radius: 10px;
					background-color: #FFF;
					box-shadow: 0px 1px 2px 0px rgba(190, 190, 215, 0.20);
					border: none;
					height: 36px;
					padding: 8px 14px;
					width: 190px;
					-moz-appearance:none;
					-webkit-appearance:none;
					appearance:none;
					background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgMTEgNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsPSIjMUYyMzI4IiBkPSJNLjE4MyAxLjIzOEw0LjU1IDYuMzM2YS43NS43NSAwIDAwMS4xMzkgMGw0LjM2OC01LjA5OEEuNzUuNzUgMCAwMDkuNDg4IDBILjc1MWEuNzUuNzUgMCAwMC0uNTY4IDEuMjM4eiIvPjwvc3ZnPg==");
					background-repeat: no-repeat;
					background-position: calc(100% - 14px) 16px;
    				background-size: 10px;
					outline: none;
					color: var(--creator-lms-heading-color);
					font-size: 14px;
					font-weight: 500;
					line-height: 1.5;
					display: block;

					&:focus {
						outline: 2px solid var(--creator-lms-outline-color);
						outline-offset: 2px;
					}
				}
			}
		}

	}

}

@media screen and (max-width: 1199px) {
	//----search sort----
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .course-showing {
		font-size: 15px;
	}
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .course-searchbox input[type=search] {
		width: 217px;
	}

}

@media screen and (max-width: 991px) {

	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .filter-hamburger {
		display: flex;
	}

}

@media screen and (max-width: 767px) {
	//-----search sort-----
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort {
		margin-bottom: 20px;
		flex-flow: column;
		align-items: flex-start;
	}
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .search-sort-left {
		width: 100%;
	}
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .search-sort-right {
		width: 100%;
	}
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .course-searchbox {
		flex: 1;
	}
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .course-searchbox input[type=search] {
        width: 100%;
    }

	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .course-sortbox {
		flex: 1;
	}
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .course-sortbox select {
		width: 100%;
	}

	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .search-sort-left {
		gap: 10px;
	}
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .course-showing {
        font-size: 14px;
    }
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .filter-hamburger {
		font-size: 16px;
	}
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .filter-hamburger svg {
		width: 18px;
	}

}

@media screen and (max-width: 425px) {
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort {
        max-width: 320px;
        margin: 0 auto 20px;
    }
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .search-sort-right {
		justify-content: flex-start;
		flex-flow: column;
	}
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .course-sortbox,
	.creator-lms-page .creator-lms-courses .creator-lms-search-sort .course-searchbox {
        flex: inherit;
        width: 100%;
    }

}