.ohmylms-page {
    .ohmylms-course-loadmore-area {
        text-align: center;
        margin-top: 40px;
        width: 100%;

        .ohmylms-button {
            font-family: inherit;
            font-size: 18px;
            padding: 16px 30px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            .ohmylms-loader {
                position: relative;
                top: 1px;
                border-color: #5d8eff;
                border-top-color: #ffffff;
            }

            &:hover {
                .ohmylms-loader {
                    border-color: var(--ohmylms-primary-color);
                    border-top-color: #ffffff;
                }
            }

        }

    }

    .ohmylms-filter-enabled + .ohmylms-course-loadmore-area {
        width: calc(100% - 337px);
        margin-left: auto;
    }

}

@media screen and (max-width: 1199px) {
    .ohmylms-page .ohmylms-filter-enabled + .ohmylms-course-loadmore-area {
		width: calc(100% - 291px);
	}
}

@media screen and (max-width: 991px) {
	.ohmylms-page .ohmylms-courses .ohmylms-course-loadmore-area {
        margin-top: 30px;
    }
	.ohmylms-page .ohmylms-courses .ohmylms-course-loadmore-area .ohmylms-button {
		font-size: 15px;
		padding: 13px 20px;
	}

    .ohmylms-page .ohmylms-filter-enabled + .ohmylms-course-loadmore-area {
		width: 100%;
	}
}