.ohmylms-page {
    //-----when layout style-2----
    .grid-style2 {

        .ohmylms-course-cards .course-card .course-info {
            justify-content: flex-start;

            .course-meta {
                justify-content: space-between;
                margin: 0 0 12px!important;

                & > li {
                    display: none;

                    &.total-duration,
                    &.total-enrolled-user {
                        display: block;
                    }

                    &.total-duration {
                        margin-left: auto;
                    }
                }
            }

            .ohmylms-loop-course-title {
                color: var(--ohmylms-heading-color);
                margin: 0 0 36px;

                @media screen and (max-width: 1199px) {
                    margin: 0 0 20px;
                }
            }

            .course-author {
                color: var(--ohmylms-body-text-color);
                font-size: 13px;
                font-weight: 400;
                line-height: 1;
                margin: auto 0 0;
                padding: 0;
            }

            &.is-cohort-based {

                .course-meta {
                    margin: 0 0 10px !important;
                }
            }
        }
    }
}