html.colibri-wp-theme .theme-colibri-wp.ohmylms-page {
    text-align: left;
}
.theme-colibri-wp.ohmylms-page {
    text-align: left;
}

.theme-colibri-wp.ohmylms-page .content > .h-section-global-spacing {
    padding-top: 0;
    padding-bottom: 0;
}

.theme-colibri-wp.ohmylms-page .content .h-section-boxed-container {
    max-width: 100%!important;
}

.theme-colibri-wp.ohmylms-page .ohmylms-checkout-payment .ohmylms-payment-methods {
    margin-left: 0!important;
    margin-right: 0!important;
}

.theme-colibri-wp.ohmylms-page #ohmylms-payment {
    text-align: left;
}

.theme-colibri-wp.ohmylms-page .ohmylms-order-review-toggle .order-review-toggle-head:after,
.theme-colibri-wp.ohmylms-page .ohmylms-order-review-toggle .order-review-toggle-head:before {
    display: none;
}

.theme-colibri-wp.ohmylms-page div:after,
.theme-colibri-wp.ohmylms-page div:before {
    position: absolute;
}

.theme-colibri-wp.ohmylms-page .ohmylms-widget-pricebox .price-discount-area .amount {
    color: var(--ohmylms-heading-color);
}

.theme-colibri-wp.ohmylms-page .ohmylms-course-details-tab .ohmylms-course-tab-content div:after,
.theme-colibri-wp.ohmylms-page .ohmylms-course-details-tab .ohmylms-course-tab-content div:before {
    display: none;
}

.theme-colibri-wp.ohmylms-page .ohmylms-course-reviews .ohmylms-course-single-review .review-description {
    margin: 0;
}

html.colibri-wp-theme #colibri.ohmylms-page .comment-respond {
    border: none;
    padding: 0;
}

#colibri.ohmylms-page .ohmylms-course-reviews-form .comment-form .comment-form-comment textarea {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 14px;
    border: 1px solid #EBECED;
    background-color: #FFF;
    min-height: auto;
    resize: none;
}

.theme-colibri-wp.ohmylms-page .ohmylms-course-reviews-form .comment-form .form-submit #submit {
    font-size: 14px;
    font-weight: 500;
    padding: 7px 20px;
    color: #fff;
    border-radius: 10px;
    background-color: var(--ohmylms-primary-color);
    border: 1px solid var(--ohmylms-primary-color);
    text-transform: none;
    letter-spacing: 0;
}
.theme-colibri-wp.ohmylms-page .ohmylms-course-reviews-form .comment-form .form-submit #submit:hover {
    
    background-color: transparent;
    border-color: var(--ohmylms-primary-color);
    color: var(--ohmylms-primary-color);
}


.theme-colibri-wp.ohmylms-page .ohmylms-lesson-sidebar .ohmylms-lesson-tab-content:after,
.theme-colibri-wp.ohmylms-page .ohmylms-lesson-sidebar .ohmylms-lesson-tab-content:before,
.theme-colibri-wp.ohmylms-page .ohmylms-lesson-sidebar .ohmylms-lesson-list:after,
.theme-colibri-wp.ohmylms-page .ohmylms-lesson-sidebar .ohmylms-lesson-list:before,
.theme-colibri-wp.ohmylms-page .ohmylms-lesson-sidebar .ohmylms-accordion-item div:after,
.theme-colibri-wp.ohmylms-page .ohmylms-lesson-sidebar .ohmylms-accordion-item div:before {
    display: none;
}

.theme-colibri-wp.ohmylms-page .ohmylms-dashboard .ohmylms-single-tab-content div:after,
.theme-colibri-wp.ohmylms-page .ohmylms-dashboard .ohmylms-single-tab-content div:before {
    display: none;
}

.theme-colibri-wp.ohmylms-page .ohmylms-sidebar-widget:before, 
.theme-colibri-wp.ohmylms-page .ohmylms-sidebar-widget:after {
    display: none;
}

.theme-colibri-wp.ohmylms-page .ohmylms-course-details-tab:after,
.theme-colibri-wp.ohmylms-page .ohmylms-course-details-tab:before,
.theme-colibri-wp.ohmylms-page .ohmylms-course-tab-content:after,
.theme-colibri-wp.ohmylms-page .ohmylms-course-tab-content:before {
    display: none;
}

.theme-colibri-wp.ohmylms-page .ohmylms-widget-course-meta .ohmylms-course-meta:before, 
.theme-colibri-wp.ohmylms-page .ohmylms-widget-course-meta .ohmylms-course-meta:after {
    display: none;
}

.theme-colibri-wp.ohmylms-page .grid-style4 .ohmylms-course-cards .course-card .course-info .course-meta:after {
    display: none;
}