:root :where(.wp-element-button, .wp-block-button__link) {
    background-color: var(--wp--preset--color--contrast);
    border-width: 0;
    color: var(--wp--preset--color--base);
    font-family: inherit;
    font-size: var(--wp--preset--font-size--medium);
    line-height: inherit;
    padding-top: 1rem;
    padding-right: 2.25rem;
    padding-bottom: 1rem;
    padding-left: 2.25rem;
    text-decoration: none;
}

:root :where(.wp-element-button:hover, .wp-block-button__link:hover) {
    background-color: color-mix(in srgb, var(--wp--preset--color--contrast) 85%, transparent);
    border-color: transparent;
    color: var(--wp--preset--color--base);
}

:root :where(.wp-element-button:focus, .wp-block-button__link:focus) {
    outline-color: var(--wp--preset--color--accent-4);
    outline-offset: 2px;
}

:root :where(.wp-element-caption, 
.wp-block-audio figcaption, 
.wp-block-embed figcaption, 
.wp-block-gallery figcaption, 
.wp-block-image figcaption, 
.wp-block-table figcaption, 
.wp-block-video figcaption) {
    font-size: var(--wp--preset--font-size--small);
    line-height: 1.4;
}

:root :where(.wp-block-columns-is-layout-flow) > :first-child {
    margin-block-start: 0;}

:root :where(.wp-block-columns-is-layout-flow) > :last-child {
    margin-block-end: 0;}

:root :where(.wp-block-columns-is-layout-flow) > * {
    margin-block-start: var(--wp--preset--spacing--50);margin-block-end: 0;
}

:root :where(.wp-block-columns-is-layout-constrained) > :first-child {
    margin-block-start: 0;}

:root :where(.wp-block-columns-is-layout-constrained) > :last-child {
    margin-block-end: 0;}

:root :where(.wp-block-columns-is-layout-constrained) > * {
    margin-block-start: var(--wp--preset--spacing--50);margin-block-end: 0;
}

:root :where(.wp-block-columns-is-layout-flex) {
    gap: var(--wp--preset--spacing--50);
}

:root :where(.wp-block-columns-is-layout-grid) {
    gap: var(--wp--preset--spacing--50);
}

:root :where(.wp-block-post-title a:where(:not(.wp-element-button))) {
    text-decoration: none;
}

:root :where(.wp-block-post-title a:where(:not(.wp-element-button)):hover) {
    text-decoration: underline;
}

:root :where(.wp-block-site-tagline) {
    font-size: var(--wp--preset--font-size--medium);
}

:root :where(.wp-block-site-title) {
    font-family: var(--wp--preset--font-family--body);
    font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.2rem) * 0.542), 1.2rem);
    font-style: normal;
    font-weight: 600;
}

:root :where(.wp-block-site-title a:where(:not(.wp-element-button))) {
    text-decoration: none;
}

:root :where(.wp-block-site-title a:where(:not(.wp-element-button)):hover) {
    text-decoration: underline;
}

:root :where(.wp-block-navigation) {
    font-size: var(--wp--preset--font-size--medium);
}

:root :where(.wp-block-navigation a:where(:not(.wp-element-button))) {
    text-decoration: none;
}

:root :where(.wp-block-navigation a:where(:not(.wp-element-button)):hover) {
    text-decoration: underline;
}

:root :where(.wp-block-navigation) {
    font-weight: 500;
}

/**
* Core styles: block-supports
*/
.wp-container-core-navigation-is-layout-fc306653 {
    justify-content: flex-end;
}

.wp-container-core-group-is-layout-f4c28e8b {
    flex-wrap: nowrap;
    gap: var(--wp--preset--spacing--10);
    justify-content: flex-end;
}

.wp-container-core-group-is-layout-8165f36a {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.wp-container-core-columns-is-layout-28f84493 {
    flex-wrap: nowrap;
}

.wp-container-core-navigation-is-layout-fe9cc265 {
    flex-direction: column;
    align-items: flex-start;
}

.wp-container-core-group-is-layout-570722b2 {
    gap: var(--wp--preset--spacing--80);
    justify-content: space-between;
    align-items: flex-start;
}

.wp-container-core-group-is-layout-e5edad21 {
    justify-content: space-between;
    align-items: flex-start;
}

.wp-container-core-group-is-layout-91e87306 {
    gap: var(--wp--preset--spacing--20);
    justify-content: space-between;
}

.wp-container-core-group-is-layout-353c4f5a {
    flex-direction: column;
    align-items: stretch;
}
.wp-container-core-group-is-layout-fe9cc265 {
    flex-direction: column;
    align-items: flex-start;
}


.theme-twentytwentyfour.creator-lms-checkout .entry-content.has-global-padding {
    padding: 0;
    margin: 0;
}