.theme-twentysixteen.creator-lms-page .creator-lms {
    max-width: 100%;
}
.theme-twentyseventeen.creator-lms-page .wrap {
    max-width: 100%;
    padding: 0;
}

.theme-twentyseventeen.creator-lms-page .entry-content {
    width: 100% !important;
}
