.wp-has-submenu.toplevel_page_ohmylms ul li.wp-first-item {
    display: none;    
} 

li#toplevel_page_ohmylms ul.wp-submenu a[href*="admin.php?page=ohmylms#/memberships"],
li#toplevel_page_ohmylms ul.wp-submenu a[href*="admin.php?page=ohmylms#/settings/general-settings"] {
    border-top: 2px solid rgba(240, 246, 252, .2);
    margin-top: 5px;
    padding-top: 8px;
}

li#toplevel_page_ohmylms ul.wp-submenu .wp-first-item {
    display: none;
}

li#toplevel_page_ohmylms ul.wp-submenu li.wp-submenu-head {
    background: #2271b1;
    color: #fff;
    cursor: pointer;
}
